<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="API" type="com.smartcity.models.API"/>
        <typeAlias alias="Server" type="com.smartcity.models.Server"/>
        <typeAlias alias="Application" type="com.smartcity.models.Application"/>
        <typeAlias alias="DeveloperKey" type="com.smartcity.models.Developer"/>
        <typeAlias alias="InterfaceKey" type="com.smartcity.models.InterfaceKey"/>
        <typeAlias alias="User" type="com.smartcity.models.User"/>
    </typeAliases>
 <!--   <mappers>
        <mapper resource="mappers/APIMapper.xml"/>
        <mapper resource="mappers/ServerMapper.xml"/>
    </mappers>-->
</configuration>